<!DOCTYPE html>
<html>
<head>
    <title>Faerie Chess Counter</title>
    <style>
        .column {
            float: left;
            width: 33%;
        }

        .column label {
            display: inline-block;
            width: 100px;
        }

        .column input,
        .column select {
            display: inline-block;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Faerie Chess Counter</h1>
        <div class="column">
            <h3>Rank I selection:</h3>
            <label>Pawns:</label>
            <select id="pawn">
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
            </select><br>
            <label>Peasants:</label>
            <select id="peasant">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select><br>
            <label>Soldiers:</label>
            <select id="soldier">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select><br>
        </div>

        <div class="column">
            <h3>Rank II selection:</h3>
            <label>Rooks:</label>
            <select id="rook">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select><br>
            <label>Knights:</label>
            <select id="knight">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select><br>
            <label>Bishops:</label>
            <select id="bishop">
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
            </select><br>
            <label>Catapult:</label>
            <select id="catapult">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Chamberlain:</label>
            <select id="chamberlain">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Courtesan:</label>
            <select id="courtesan">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Herald:</label>
            <select id="herald">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Inquisitor:</label>
            <select id="inquisitor">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Lancer:</label>
            <select id="lancer">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Pontiff:</label>
            <select id="pontiff">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Thief:</label>
            <select id="thief">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Tower:</label>
            <select id="tower">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
        </div>

        <div class="column">
            <h3>Rank III selection:</h3>
            <label>Queen:</label>
            <select id="queen">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>King:</label>
            <select id="king">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Jester:</label>
            <select id="jester">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
            <label>Regent:</label>
            <select id="regent">
                <option value=0>0</option>
                <option value=1>1</option>
            </select><br>
        </div>

        <div class="column">
            <h3>Difficulty:</h3>
            <select id="difficulty">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
            <br>
            <input type="button" id="calculateButton" value="Calculate Points">
        </div>

        <div id="scoreContainer">

        </div>

        <script>

            
        </script>


</body>
</html>
